header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.react-body {
	margin:0;
	box-sizing: border-box;
	font-family: Quicksand, Arial, sans-serif;
}



.react-navbar-image {
	float:left;
	vertical-align: bottom;
	height: 35px;
	width: 210px;
}

.react-right-menu {
	float: right;
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	font-family: Helvetica;
	
	box-sizing: border-box;

}

.react-signUp-menu2 {
	
	background-color: white;
	color: black;
	font-family: Helvetica;
	font-weight: bold;
	text-align: right;	
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 700px;
	padding-top: 20px;
	box-sizing: border-box;

}

.react-main-background {
	background-image: url("background.jpeg");

}

.react-main-image img {
	width: 100%;
	display: block;
    margin: 0 auto;
    position: relative;
	/*height: 492px;*/
    padding: 0;

	
}

.react-main-image h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   z-index: 1; 
   color: white;
   text-align: right;
   
}

.react-main-image h2 span {
	font-family: Quicksand, Arial, sans-serif;
	font-size: 60px;
	padding-right: 150px;
	float: right;
	display:block;
	text-align: center;
}

.react-section-two {
	/*background-color: #F8F8FF;*/
	padding-top: 50px;
	padding-bottom: 30px;
	
}

.react-heading {
	font-family: Quicksand,Arial,sans-serif;
	text-align: center;
	font-size: 34px;
	font-weight: 500;
	/*font-weight: bold;*/
	/*color: #6F727A;*/
	color: #606263;
}

.react-blue-text {
	color: #26C2FD;
	text-align: center;
	display:block;
	padding-left: 5px;
}

.react-purple-text {
	color: #5368EE;
	display:block;
	text-align: center;
}

.react-grey-text {
	/*color: #C8CACB;*/
	color: #606263;
	display:block;
	text-align: center;
}

.react-who-ke-are {
	border-top: solid #ddd;
	border-bottom: solid #ddd;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #ddd;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    
}

.react-row{
 display: flex;
 flex-wrap: nowrap;
}

.react-row::after {
    content: "";
    clear: both;
    display: table;
}

.react-section-three {
	/*font-family: Comic Sans MS;*/
	text-align: center;
	margin-top: 50px; 
	padding-right: 50px;
	height: 100px;
}

.react-kesignup {
    background-color: #5368EE; /* Purple */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}


